src/Classifiers/__pycache__/__init__.cpython-313.pyc
src/Classifiers/__pycache__/Astro1DCNN.cpython-313.pyc
src/Classifiers/__pycache__/CnnModel.cpython-313.pyc
src/Classifiers/__pycache__/CNNPlots.cpython-313.pyc
src/Classifiers/__pycache__/SimpleLightCurve.cpython-313.pyc
src/Classifiers/__pycache__/Starwise1DCnn.cpython-313.pyc
src/Classifiers/__pycache__/CommonHelper.cpython-313.pyc
lc_cache/*.npz
k2_cache/*
vetting_k2/*
k2_dataset_centered_v2/*
k2_dataset_v2/*
src/Classifiers/__pycache__/CnnNNet.cpython-313.pyc
src/Classifiers/Embeddings/__pycache__/StarVec.cpython-313.pyc
src/Classifiers/__pycache__/BinaryEmbeddingsClassifier.cpython-313.pyc
src/Classifiers/Embeddings/__pycache__/PlotEmbeddings.cpython-313.pyc
src/Classifiers/Embeddings/__pycache__/RegressorNet.cpython-313.pyc
src/Classifiers/Embeddings/__pycache__/EmbeddingPresentation.cpython-313.pyc
src/Classifiers/LargeWindow/__pycache__/HardNegativeMiner.cpython-313.pyc
src/Classifiers/LargeWindow/__pycache__/LargeWindow_Processor.cpython-313.pyc
src/Classifiers/LargeWindow/__pycache__/ModelSplitter.cpython-313.pyc
src/Classifiers/LargeWindow/__pycache__/SegmentDataset.cpython-313.pyc
src/Classifiers/Builders/__pycache__/EphermisBuilder.cpython-313.pyc
src/Classifiers/Builders/__pycache__/BuilderHelper.cpython-313.pyc
src/Classifiers/Loaders/__pycache__/k2Loader.cpython-313.pyc
src/Classifiers/LargeWindow/__pycache__/SmallMissionSplitter.cpython-313.pyc
src/Classifiers/K2/__pycache__/K2Loader.cpython-313.pyc
src/Classifiers/K2/__pycache__/K2CacheBuilder.cpython-313.pyc
src/Classifiers/K2/__pycache__/*
src/Classifiers/Triages/__pycache__/AstroSeqTriageCandidate.cpython-313.pyc
src/Classifiers/Triages/__pycache__/AstroSeqTriageCandidate.cpython-313.pyc
src/Classifiers/Triages/__pycache__/AstroSeqTriageCandidate.cpython-313.pyc
src/Classifiers/Triages/__pycache__/K2_Score_loader.cpython-313.pyc
src/Classifiers/Triages/__pycache__/AstroSeqTriageCandidate.cpython-313.pyc
